<!DOCTYPE html>
<html lang="en" ng-app="Spa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style/style.css" rel="stylesheet">
    <title>SPA</title>
    <script src="js/Angular/angular.min.js"></script>
    <script src="js/Modules/Spa.module.js"></script>
    <script src="js/Controllers/Spa.controller.js"></script>
    
    <script src="js/Factory/Api.factory.js"></script>
    
</head>
<body ng-controller="SpaController" >
    <div class="search" >
       
        <select class="serchoptions" id="options" 
        ng-model="optionsSelected"
        ng-options="sOptions.indexOf(optionsSelected) as optionsSelected for optionsSelected in sOptions">            
          </select>
          <input type="search" class="form-control" placeholder="Search" ng-model="searchText" />
    </div>

    <div class="content" >
      
        <div class="card" ng-repeat=" person in personas | filter:searchText[optionsSelected]">
          
            <img ng-src="{{ person.picture }}">
            <div class="container">
              <p>Name: {{ person.name}}<p>
              <p>IsActive: {{person.isActive}} </p>
              <p>Age: {{person.age}} </p>
              <p>Gender: {{person.gender}} </p>
              <p>About: {{person.about}} </p>
              
              
            </div>
          </div>
    </div>

</body>
</html> 